.btn {
  display: inline-block;
  padding: size-desktop(25px) size-desktop(90px) size-desktop(25px) size-desktop(54px);
  font-family: $ff-manrope;
  font-weight: 600;
  font-size: size-desktop(16px);
  line-height: size-desktop(24px);
  letter-spacing: 0.04em;
  color: $color-default-white;
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include vp-992 {
    font-size: size(10px);
    line-height: size(15px);
  }
}

.btn--advantages {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $color-default-red;
  border-radius: size-desktop(500px);
  overflow-x: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: size-desktop(32px);
    width: size-desktop(23px);
    height: size-desktop(23px);
    transform: translate(-50%, -50%);
    background-image: url("../img/svg/arrow-button-calculation.svg");
    background-size: size-desktop(23px) size-desktop(23px);
    background-repeat: no-repeat;
    transition: $trans-default;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: size-desktop(45px);
    height: 100%;
    transform: skewX(-45deg);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 3s linear infinite;
  }

  @include vp-992 {
    min-height: size(60px);
    padding: size(16px) size(43px);

    &::before {
      content: none;
    }

    &::after {
      content: "";
      width: size(45px);
    }
  }
}

@keyframes flareAnimation {
  0% {
      left: -150%;
  }
  100% {
      left: 150%;
  }
}

.btn--advantages-whatsapp {
  padding: size-desktop(35px) size-desktop(33px) size-desktop(33px) size-desktop(60px);
  background-color: rgba(0, 0, 0, 0.45);
  border: 1px solid $color-default-white;

  &::before {
    left: size-desktop(42px);
    width: size-desktop(30px);
    height: size-desktop(30px);
    background-image: url("../img/svg/icon-whatsapp.svg");
    background-size: size-desktop(30px) size-desktop(30px);
  }

  @include vp-992 {
    min-height: size(60px);
    padding: size(20px) size(48px);
  }
}

.btn--advantages-whatsapp span {
  @include vp-992 {
    color: $color-default-green;
  }
}

.btn--advantages:hover {
  opacity: 0.7;

  &::before {
    top: 53%;
    rotate: 45deg;
  }
}

.btn--advantages:active {
  opacity: 0.4;
}

.btn--advantages-whatsapp:hover {
  &::before {
    top: 50%;
    rotate: none;
  }
}

.btn--form-send {
  position: relative;
  display: block;
  width: 100%;
  min-height: size-desktop(85px);
  padding: size-desktop(15px) size-desktop(15px) size-desktop(14px);
  font-family: $ff-manrope;
  font-weight: 600;
  font-size: size-desktop(16px);
  line-height: size-desktop(24px);
  background-color: $color-default-red;
  border-radius: size-desktop(500px);
  overflow-x: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: size-desktop(45px);
    height: 100%;
    transform: skewX(-45deg);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 3s linear infinite;
  }

  @include vp-992 {
    min-height: size(85px);
    padding: size(15px) size(15px) size(14px);
    font-size: size(16px);
    line-height: size(24px);
    border-radius: size(500px);

    &::after {
      content: "";
      width: size(45px);
    }
  }
}

.btn--form-send:hover {
  opacity: 0.7;
}

.btn--form-send:active {
  opacity: 0.4;
}
