.form__text {
  padding-left: size-desktop(35px);
  font-size: size-desktop(14px);
  line-height: size-desktop(19px);
  color: $color-default-white;

  @include vp-992 {
    padding-left: size(35px);
    font-size: size(14px);
    line-height: size(19px);
  }
}

.form__field {
  padding-top: size-desktop(30px);

  @include vp-992 {
    padding-top: size(20px);
  }
}

.form__field input {
  width: 100%;
  height: size-desktop(85px);
  padding: 0 size-desktop(47px);
  font-size: size-desktop(18px);
  line-height: size-desktop(24px);
  letter-spacing: 0.03em;
  border-radius: size-desktop(73px);
  background-color: #fafafa;
  border-style: none;

  &::placeholder {
    font-family: $ff-manrope;
    font-style: normal;
    font-weight: 400;
    font-size: size-desktop(18px);
    line-height: size-desktop(24px);
    align-items: center;
    letter-spacing: 0.03em;
    color: #b0b0b1;
  }

  @include vp-992 {
    height: size(55px);
    padding: 0 size(35px);
    font-size: size(18px);
    line-height: size(24px);
    border-radius: size(73px);

    &::placeholder {
      font-size: size(18px);
      line-height: size(24px);
    }
  }
}

.form__inner-popup {
  margin: size-desktop(25px) 0 0;

  @include vp-992 {
    margin: size(25px) 0 0;
  }
}

.form__assent-label {
  position: relative;
  display: block;
  margin-top: size-desktop(25px);
  padding-left: size-desktop(34px);
  font-size: size-desktop(14px);
  line-height: size-desktop(19px);
  color: $color-default-white;
  opacity: 0.8;
  cursor: pointer;

  @include vp-992 {
    margin-top: size(25px);
    padding-left: size(34px);
    font-size: size(12px);
    line-height: size(15px);
  }
}

.form__assent-label span {
  color: $color-default-red;
}

.form__assent-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: size-desktop(10px);
  width: size-desktop(20px);
  height: size-desktop(20px);
  background-color: $color-default-red;
  border-radius: size-desktop(5px);
  transform: translate(-50%, -50%);

  @include vp-992 {
    left: size(10px);
    width: size(20px);
    height: size(20px);
    border-radius: size(5px);
  }
}

input[type="checkbox"]:checked + .form__assent-mark::before {
  position: absolute;
  content: "";
  z-index: 5;
  top: 50%;
  left: size-desktop(10px);
  width: size-desktop(8px);
  height: size-desktop(6px);
  background-image: url("../img/svg/check-mark-form.svg");
  background-size: size-desktop(8px) size-desktop(6px);
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);

  @include vp-992 {
    left: size(10px);
    width: size(8px);
    height: size(6px);
    background-size: size(8px) size(6px);
  }
}

.form__assent-input:focus ~ .form__assent-label::before {
  border: size-desktop(2px) solid $color-default-black;

  @include vp-992 {
    border: size(2px) solid $color-default-black;
  }
}

.form__assent {
  position: relative;
}
