.form__text {
  padding-left: 35px;
  font-size: size-desktop(14px);
  line-height: size-desktop(19px);
  color: $color-default-white;
}

.form__field {
  padding-top: 30px;
}

.form__field input {
  width: 100%;
  min-height: size-desktop(85px);
  border-radius: size-desktop(73px);
  background-color: #fafafa;
  box-shadow: inset 0 0 size-desktop(21px) rgba(255, 255, 255, 0.4);

  &::placeholder {
    padding-left: 40px;
    font-family: $ff-manrope;
    font-style: normal;
    font-weight: 400;
    font-size: size-desktop(18px);
    line-height: size-desktop(24px);
    align-items: center;
    letter-spacing: 0.03em;
    color: #b0b0b1;
  }
}

.form__inner-popup {
  margin: size-desktop(25px) 0 0;
}

.form__assent-label {
  margin-top: size-desktop(25px);
  padding-left: size-desktop(34px);
  font-size: size-desktop(14px);
  line-height: size-desktop(19px);
  color: $color-default-white;
}

.form__assent-label {
  position: relative;
  display: block;
  padding-left: size-desktop(26px);
  font-size: size-desktop(14px);
  line-height: size-desktop(16px);
  color: $color-default-white;
  opacity: 0.8;
  cursor: pointer;
}

.form__assent-label::before {
  content: "";
  position: absolute;
  bottom: size-desktop(10px);
  left: 0;
  width: size-desktop(20px);
  height: size-desktop(20px);
  background-color: $color-default-red;
  border-radius: size-desktop(5px);
}

input[type="checkbox"]:checked + .form__assent-mark::before {
  position: absolute;
  content: "";
  z-index: 5;
  bottom: size-desktop(-16px);
  left: size-desktop(6px);
  width: size-desktop(8px);
  height: size-desktop(6px);
  background-image: url("../img/svg/check-mark-form.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__assent-input:focus ~ .form__assent-label::before {
  border: 2px solid $color-default-black;
}

.form__assent-mark {
  position: relative;
}
