// Colors
// ---------------------------------
$color-default-black:               #2a2a2a;
$color-default-white:               #ffffff;
$color-white:                       #efefef;
$color-default-green:               #20c863;
$color-default-red:                 #fd2016;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// ---------------------------------

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;

// Viewports
// ---------------------------------
$vp-1920:                           1920px;
$vp-993:                            993px;
$vp-768:                            768px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

// Typography
// ---------------------------------

$fz-default:                        12px;

// font-weight: 400;
$ff-manrope:                      "Manrope", "Arial", sans-serif;

// font-weight: 600;
$ff-manropesemibold:              "Manrope SemiBold", "Arial", sans-serif;

// font-weight: 700;
$ff-manropebold:                  "Manrope Bold", "Arial", sans-serif;

// font-weight: 800;
$ff-manropeextrabold:             "Manrope ExtraBold", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;
